body {
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%) fixed;
  font-family: "Roboto", sans-serif;
}
.App {
  max-width: 800px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
}

a {
  color: #737bb9;
}

header {
  padding-bottom: 30px;
}

.search-form {
  max-width: 600px;
  justify-content: space-between;
}
.search-input {
  background-color: #e8e9f3e3;
  border: none;
  color: #605e5c;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 50px;
}

.search-button {
  margin-left: 24px;
  font-size: 16px;
  background-color: #adb4e5;
  color: #33312f;
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  transition: 0.2ms ease-in-out;
}
.search-button:hover {
  cursor: pointer;
  background-color: #737bb9;
  color: #e8e9f3;
  border: 2px groove #e8e9f3;
}

ul {
  list-style: none;
  line-height: 1.5;
}
