body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%) fixed;
  font-family: "Roboto", sans-serif;
}
.App {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  color: #297094;
}

.container {
  background-color: #34598195;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.link {
  color: #a9620b;
  text-decoration: none;
}

header {
  padding: 20px;
  color: #ace0f9;
  text-align: center;
}

.search-form {
  width: 800px;
}
.search-input {
  background-color: #d0e6ec;
  border: none;
  color: #605e5c;
  font-size: 16px;
  padding: 15px;
  border-radius: 50px;
  width: 360px;
  margin-left: 80px;
}

.search-button {
  font-size: 16px;
  background-color: #ace0f9;
  color: #297094;
  border: none;
  padding: 14px 20px;
  border-radius: 50px;
  transition: 0.2ms ease-in-out;
}
.search-button:hover {
  cursor: pointer;
  background-color: #529fc6;
  color: #e8e9f3;
  border: 2px solid #e8e9f3;
}

.cityName {
  color: #d8bda1;
  font-weight: medium;
  margin-left: 120px;
  text-align: left;
}

.weatherInfo {
  padding-top: 10px;
  text-align: center;
}

ul {
  list-style: none;
  line-height: 1.5;
}

.weather img {
  height: 80px;
  margin-bottom: -10px;
  margin-top: -20px;
}

.weatherGraphic {
  text-align: center;
  margin-left: 30px;
}
.weatherDescription {
  background-color: #86d3f78a;
  border-radius: 0px;
  width: auto;
  padding: 20px;
  height: 80px;
}

.dateTime{
 display: grid;
 margin-top: 0px;
 margin-left: 20px;
 background-color: #123140;
 border: dotted 3px  #529fc6;
 border-radius: 100px;
 width: 120px;
 height: 120px;
 justify-content: space-evenly;
 line-height: 10px;
}

.date {
  font-weight: 600;
  font-size: 25px;
  line-height: 1;
  margin-top: 10px;
  justify-content: center;
}

.temperature {
  font-size: 50px;
  font-weight: medium;
  line-height: 0.8;
}

.temperatureUnit {
  font-size: small;
  position: relative;
  top: -25px;
}

.weekForecast {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.additionalInfo {
  text-align: left;
}

footer {
  font-size: smaller;
  color: #297094;
  margin-top: 30px;
}
